<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DRP Ministries - Live Broadcast</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
  <section class="select">
    <label for="audioSource">Audio source: </label>
    <select id="audioSource"></select>
  </section>

  <section class="select">
    <label for="videoSource">Video source: </label>
    <select id="videoSource"></select>
  </section>

  <video playsinline autoplay muted></video>
  <script src="/js/socket.io.js"></script>
  <script src="/js/broadcast.js"></script>
</body>
</body>

</html>