<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <title>DRP Ministries | Sign In</title>
</head>
<style>
    form {
        width: 50%;
        margin: 0 auto
    }

    .lead {
        text-align: center;
    }

    #logo {
        margin: 0 auto;
        margin-left: 25%;
    }
</style>

<body>
    <div id="wrapper">
        <div class="container">
            <img id="logo" src="/images/logo.png" alt="DRP Ministries">
            <p class="lead">Login to your account</p>
            <div class="body">
                <form class="form-auth-small" method="POST" action="/auth/login">
                    <div class="form-group">
                        <label for="signin-username" class="control-label sr-only">Email</label>
                        <input type="text" class="form-control" name="username" id="signin-username" placeholder="Email"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="signin-password" class="control-label sr-only">Password</label>
                        <input type="password" class="form-control" name="password" id="signin-password"
                            placeholder="Password" required>
                        <% if(redirect){ %>
                        <input type="text" name="redirect" id="" value="<%=redirect%>" style="display: none;">
                        <% } %>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg btn-block">LOGIN</button>
                    <% if(err){ %>
                    <p class="text-danger text-center"><%=err%></p>
                    <%  } %>
                    <div class="bottom">
                        <span class="helper-text m-b-10"><i class="fa fa-lock"></i> <a
                                href="/auth/password/recover">Forgot password?</a></span>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <%- include ('./partials/footer') -%>