body{
    color: #fff;
}
.sidebar, .bg-dark{
    background-color: #070113 !important;
}
.nav-link{
    color: #fff !important;
}
.sidebar{
    margin-left: 3em;
    margin-top: 2em;
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 1em;
}
.sidebar .nav-item,#username{
    text-align: center;
}
.sidebar .nav-item{
    border: 2px solid #fff;
    border-radius: 10px;
    margin: 0.25em;
}
#username{
    font-size: 2vw;
}
#avatar{
    border: none;
}
#avatar img, #avatar2{
    max-width: 80%;
    margin: auto;
    display: block;
}
#main{
    /* border: 2px solid #fff;
    border-radius: 20px; */
    padding: 1em;
    margin-top: 1.2em;
    min-height: max-content;
    max-height: 100%;
}
.ml-sm-auto{
    margin-left: 0 !important;
}
#nav-right{
    list-style-type: none !important;
    margin-bottom: 8em;
    padding: 0;
}
.header{
    margin-top: 2em;
}
#main li {
    float: right;
}
#avatar2{
    margin-bottom: 10em;
}
#logo{
    max-width: 10%;
    max-height: 100px;
    /* float: right; */
}
#topnav{
    display: flex;
}
@media only screen and (max-width: 620px) {
    #username{
        font-size: 3vw;
    }
    #main{
        border: none;
        padding: 1em;
        margin: auto;
    
    }
    #main li{
        text-align: center;
    }
}
#welcome{
    font-size: 3vw;
    text-align: center;
    margin-bottom: 3em;
}
#navrow{
    margin-bottom: 3em;
}
#myTab{
    margin-bottom: 0;
}
.header span{
text-align: center;
margin:auto;
}
.header svg{
    margin-left: 40%;
}
.card{
    color: #fff !important;
    min-width: min-content;
    background-color: #070113 !important;
    border: 2px solid #f3f3f3;
    /* padding: 0.5em 1em; */
}
.active {
    background-color: rgb(0, 123, 255);
    border-radius: 3px;
}
.form-control{
    background-color: rgba(0,0,0,0) !important;
    border: 1px solid #fff !important;
    border-radius: 0 !important;
    color: #fff !important;
}
input:focus{
    outline: none !important;
}
.submit{
    width: 90%;
}
select option{
    background-color: #070113 !important;
    border: 1px solid #fff !important;
}