<%- include ('./partials/header') -%>

<title>Error</title>


  </head>
  <body>

    <!--church wrapper-->
    <div class="wrapper">
        <!--church page 404-->
        <div class="content">
        	<div class="content_404 overlay-b">
        		<div class="container">
        			<div class="content_caption_404">
                        <h2 style="font-size: 6em;">Here's what happened: </h>
                        <p><%=error%></p>
						<a href="/" class="default_btn theme-bg_btn">Back to Home</a>
        			</div>
        		</div>
        	</div>
        </div>
       
	</div>

<%- include ('./partials/footer') -%>
  