<%- include ('./partials/dashboardHeader') -%>
<div id="content" title_="Dashboard">
    <img id="avatar2" src="/images/avatar.png" alt="">
    <h1 id="welcome">
        Welcome, <%=user.firstName%> <%=user.lastName%>
    </h1>
</div>
<%- include ('./partials/footer') -%>