<%- include ('./partials/header') -%>
<title>DRP Ministries</title>
  </head>
  <body>
       <!--church banner-->
    	<div class="church_banner">	
            <!--church banner slider-->
            <ul class="full-banner sb-slider">
                <!--church banner slider item-->
                <li>
                   <img src="/images/church_banner01_img_01.jpg" alt="image1"/>
                    <div class="slider-caption container">
                        <div class="sb_title">Deliverance, Restoration</div>
                        <!-- <span>June 10, 2017  @  09 :00  to 11 : 00 A.M</span> -->
                        <div class="banner_buttons">
                            <a href="/sermons" class="default_btn border-white">Join Us Live</a>
                            <a href="#" class="default_btn border-white">Connect</a>
                        </div>
                    </div>
                </li>
 
            </ul>
        </div>
        <div class="content">
            
            <div class="church_aboutus">
                <div class="container">
                    <div class="church_about_us">
                        <div class="church_heading align_left">
                            <h3>About Us</h3>
                            <p>
                                We are a family of God closely knitted in love. We believe in worship, prayer and deliverance by the revelation of God's Word
                            </p>
                        </div>
                        <div class="church_our_services">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="our_services_col">
                                        <span class="icon-building"></span>
                                        <h5><a href="#services">Our Services</a></h5>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="our_services_col">
                                        <span class="icon-technology2"></span>
                                        <h5><a href="/sermons">Sermons</a></h5>

                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="our_services_col">
                                        <span class="icon-silhouette"></span>
                                        <h5><a href="/connect">Connect With Us</a></h5>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="our_services_col">
                                        <span class="icon-cross"></span>
                                        <h5><a href="/prayer">Prayer Requests</a></h5>
                                    </div>
                                </div>     
                            </div>
                        </div>
                    </div>
                    <div class="church_picture"></div>
                </div>

            </div>
        </div>    
        <footer>
            <div class="footer_board">
                <div class="container">
                    <div class="background-logos">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="footer_blog">
                                    <h4 class="footer_title">Contact Us</h4>
                                    <span><i class="fa fa-envelope" aria-hidden="true"></i>hello@drpministries.org</span>
                                    <span><i class="fa fa-phone" aria-hidden="true"></i>(876)750-1887</span>
                                </div>
                            </div> 
                            <div class="col-md-4">

                        </div>  
                            <div class="col-md-4">
                                    <div class="footer_twitter">
                                        <span><i class="fa fa-twitter" aria-hidden="true"></i></span>
                                        <div class="pull-right"><a href="#" class="default_btn black-bg_btn">Follow us</a></div>
                                    </div>
                            </div>              
                        </div>
                    </div>

                    <div class="footer_other_sections">
                        <div class="row">
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-4">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </footer>
		
		<div class="copyright-content center">
			<div class="container">
				<p><i class="fa fa-copyright" aria-hidden="true"></i>Designed and Maintained by <a href="https://about.me/seyiogunjuyigbe">SeyiOgunjuyigbe</a>.</p>
			</div>
		</div>

	</div>

    <%- include ('./partials/footer') -%>