<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resend Verification Mail</title>
    <link rel="stylesheet" href href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href href="/css/auth.css">

</head>

<body>
    <div class="container" id="formDiv">
        <img src="/images/logo.png" alt="" id="logo">
        <h2>Forgot Password?</h2>
        <form action="/auth/token/resend" method="post">
            <div class="form-group">
                <label for="">Resend Verification Mail</label>
                <input type="email" class="form-control" name="email" id="" required>
            </div>
            <% if(!err){ %>
            <p class="text-primary">
                Please enter your email address
            </p>
            <% } else{ %>
            <p class="text-warning">
                <%=err%>
            </p>
            <% } %>

            <div class="form-group">
                <input type="submit" class="form-control btn btn-primary" value="RESEND LINK" id="">
            </div>
        </form>

        <hr>
        <p id="foot">Deliverance & Restoration Praise Ministry</p>

    </div>