<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <link rel="stylesheet" href href="/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/b2d9357a8e.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href href="/css/auth.css">

</head>

<body>
    <div class="container" id="formDiv">
        <img src="/images/logo.png" alt="" id="logo">

        <h2>Success!</h2>
        <%if(message){ %>
        <p class="text-success"><%=message%>
        </p>
        <% } %>
        <div class="mx-auto">
            <a class="btn btn-primary" href="/dashboard" title="Home"><i class="fas fa-2x fa-home"></i></a>
            <button class="btn btn-primary" title="Back" onclick="window.history.go(-1); return false;"><i
                    class="fas fa-2x fa-angle-double-left"></i></i></button>
        </div>
        <hr>
        <p id="foot">Deliverance & Restoration Praise Ministry</p>

    </div>