<%- include ('./partials/header') -%>

<title>Success</title>


  </head>
  <body>

    <!--church wrapper-->
    <div class="wrapper">
        <!--church page 404-->
        <div class="content">
        	<div class="content_404 overlay-b">
        		<div class="container">
        			<div class="content_caption_404">
                        <h2>Successfully Done! </h2>
                        <h3><%=message%></h3>
						<a href="/" class="default_btn theme-bg_btn">Back to Home</a>
        			</div>
        		</div>
        	</div>
        </div>
       
	</div>

    <!-- modernizr script-->
    <script src="js/modernizr.js"></script>
    <!-- responsive-jquery script-->
    <script src="js/responsive-jquery.js"></script>
    <!-- Custom scripts-->
    <script src="js/custom.js"></script>
  </body>

</html>