<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <script src="https://kit.fontawesome.com/b2d9357a8e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>
    <style>
        body {
            background-color: #070113;
            font-family: 'Poppins', sans-serif;
            color: #fff;
        }
    </style>
    <div class="row" id="navrow">
        <nav class="col-lg-3 col-sm-3 col-md-3 navbar-collapse d-sm-block sidebar">
            <div class="navbar-nav mr-auto">
                <li id="avatar">
                    <a title="My Profile" class="nav-link" href="/profile/me">
                        <%if(user.avatar_url && user.avatar_url !== ""){ %>
                        <img style="border-radius: 50%;" src="<%=user.avatar_url%>" alt="My profile">
                        <%} else{ %>
                        <img src="/images/avatar.png" alt="My profile">
                        <% } %>

                    </a>
                </li>

                <h4 id="username"> <%= user.username %></h4>


                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="/stream">Start Broadcast</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/logout">Change Password</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/logout">:Logout</a>
                    </li>

                </ul>
            </div>
        </nav>
        <main role="main" class="col-lg-8 col-sm-8 ml-sm-auto col-md-8 pt-3">
            <div class="container" id="main">