<script src="/js/modernizr.js"></script>
<script src="/js/responsive-jquery.js"></script>
<script src="/js/slick.js"></script>
<script src="/js/slider_fancy.js"></script>
<script src="/js/accordian.js"></script>
<script src="/js/audio.js"></script>
<script src="/js/custom.js"></script>
<!-- <script src="/js/script.js"></script> -->
</body>

</html>