<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DRP Min</title>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
  <style>
    form{
      width: 40%;
      padding: 2em;
      /* margin: 0 auto; */
    }
    </style>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/">
                    DRPMIN
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                  <ul class="navbar-nav">
                     
                  </ul>
                </div>
                  <div class="navbar-right">                
                 <ul class="nav justify-content-end">
                  <li class="nav-item">
                    <span class="nav-link">
                   
                    </span> 
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/user/logout">Logout</a>
                  </li>
                    
                    <li class="nav-item">
                      <a class="nav-link" href="/user/register">Register</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/user/login">Login</a>
                    </li>
                    
                </ul>
              </div>
                
              </nav>